<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>771225196291-of0t4v6ikosqu5lr5ei2kg4fcv527g18.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771225196291-of0t4v6ikosqu5lr5ei2kg4fcv527g18</string>
	<key>API_KEY</key>
	<string>AIzaSyC6-EVdTtg3Hg0xx6Bbaa6xcrNBizEfx9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>771225196291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skyblue.AlphaHealth</string>
	<key>PROJECT_ID</key>
	<string>c2chack</string>
	<key>STORAGE_BUCKET</key>
	<string>c2chack.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771225196291:ios:296bacb1d819cbbd</string>
	<key>DATABASE_URL</key>
	<string>https://c2chack.firebaseio.com</string>
</dict>
</plist>